#timing{
	position: relative;
	width: 530px;
	height: 530px;
	border: 1px #bababa solid;
	padding: 10px;
}
.transform-box{
	font-size: 12px;
	position: relative;
	width: 60px;
	height: 60px;
	background-color: #ddd;	
	margin: 10px;
}

#ease{
	-webkit-transition: all 4s ease-in;
	-moz-transition: all 4s ease-in;
	-o-transition: all 4s ease-in;
	transition: all 4s ease-in;
	border: 1px #f00 solid;
}

#ease-out{
	transition: all 4s ease-out;
	border: 1px #f00 solid;
}

#ease-in-out{
	transition: all 4s ease-in-out;
	border: 1px #f00 solid;
}

#linear{
	transition: all 4s linear;
	border: 1px #f00 solid;
}

#custom{
	transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);
	border: 1px #f00 solid;
}

#awesome{
	transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
	border: 1px #f00 dotted;
}
#timing:hover .transform-box{
	transform: rotate(360deg);
	margin-left: 420px;
	border-radius: 50%;

}








